@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Geo', sans-serif;

    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    background-image: url(../images/wallpaperflare.com_wallpaper.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Color Variables */
:root {
    --main-color: #0C0C0C;
    --secondary-color: #5B5B58;
    --main-font-color: #ECECEC;
    --warning-color: red;
    --correct-color: rgb(0, 255, 0);
}

/* Navigation Bar */
nav {
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    top: 0;
}

nav>h1 {
    display: flex;
    width: 100%;
    height: inherit;
    margin: 0;
    justify-content: center;
    align-items: center;
}

nav>a {
    height: inherit;
}

nav a {
    text-decoration: none;
    color: var(--main-font-color);
}

/* Main content */

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 100vh;

    justify-content: center;
    justify-items: center;
    align-items: center;
}

input,
label {
    display: block;
    width: 95%;
    margin: auto;
}

.middle-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);

    /* min-width: 20rem;
    max-width: 60rem; */

    width: 50%;
    height: 20%;

    margin: 20px auto;
    padding: 10px;

    justify-content: center;
    justify-items: center;
    align-items: center;

    border-radius: 10px;

    color: var(--main-font-color);

    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.middle-container>i {
    color: var(--main-font-color);
}

.para-text {
    text-align: center;
    font-size: 25px;
}

.fa-circle-check {
    padding: 0 15px;
    color: var(--correct-color);
}

.fa-circle-xmark {
    padding: 0 15px;
    color: var(--warning-color);
}

#score p {
    font-size: 2rem;
}

.text-container {
    padding: 10px 20px;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.questionPara {
    font-size: 25px;
}

.name-label {
    text-align: center;
    font-size: 18px;
}

.name-container {
    display: block;
    width: 40%;
}

#btn-answer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
    margin: 10px;
}

.btn-option {
    font-size: medium;
}

.name-status {
    color: var(--warning-color);
    font-size: 25px;
    text-align: center;
}



/* Footer Styles */

#sticky {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
}

footer {
    display: flex;
    background-color: var(--main-color);
    color: var(--main-font-color);
}

footer a {
    color: var(--main-font-color);
}

#social {
    display: inline-block;

    margin: auto auto auto 10px;
}

.fa-github {
    font-size: 30px;
}

#footer-about {
    display: inline-block;

    margin: auto 10px auto auto;
}

#footer-about p {
    margin: auto 10px auto auto;
    font-size: 30px;
}

/* General Styles */

h1 {
    text-align: center;
    font-family: 'Geo', sans-serif;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Geo', sans-serif;
    font-size: 40px;
    margin: 5px auto;
}

.btn {
    padding: 5px;
    margin: 10px;

    font-family: 'VT323', monospace;
    font-size: 20px;
}

.hide {
    display: none;
}

.highlighted {
    border: 1px solid var(--main-font-color);
    background-color: var(--main-color);
    color: var(--main-font-color);
}


/* Media query */

@media (max-width: 426px) {

    .btn {
        padding: unset;
        margin: 5px;
    }

    .middle-container {
        width: 90%;
        min-height: 80vh;
    }

    #btn-answer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1px;
        margin: 1px 1px 20px 1px;
    }

    .btn-option {
        text-align: justify;
    }

    .questionPara {
        font-size: 18px;
    }




}