* {
    box-sizing: border-box;
}

body {
    display: flex;

    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
}

/* Color Variables */
:root {
    --main-color: #0C0C0C;
    --secondary-color: #5B5B58;
    --main-font-color: #ECECEC;
}

/* Navigation Bar */
nav {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    top: 0;
}

nav>h1 {
    display: flex;
    width: 100%;
    height: inherit;
    margin: 0;
    justify-content: center;
    align-items: center;
}

nav>a {
    height: inherit;

}

/* General Styles */

a {
    text-decoration: none;
    color: var(--main-font-color);
}